
body {
    margin: 0;
    padding: 0;
    background: #EEEEEE;
}

.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.overpass {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}

.viga-regular {
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

.fira-code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.grid-container {
    height: 30rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "header"
    "navbar"
    "main"
    "footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: navbar;
}

main {
    grid-area: main;
    background: no-repeat url(../assets/backgroun-official.svg);
    margin: 0px 15px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    grid-area: footer;
}

.contenedor {
    background-color: #FFFFFF ;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0rem 3rem 0rem;
}

.position {
    position: sticky;
    top: -3rem;
    z-index: 10;
}

.position1 {
    position: sticky;
    top: 4rem;
    z-index: 10;
}

.contenedor img {
    width: 70px;
    height: 60px;    
}

.busqueda {
    width: 20rem;
    height: 3rem;
    border-radius: 5px;
    font-family: fira-code, sans-serif;
}

.sesion {
    height: 40px;
    width: 175px;
    text-align: center ;
    color: white;
    background-color: #FD611A;
    text-decoration: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-icon {
    height: 1.8rem;
    width: 1.8rem;
    padding-right: 5px;
}

.text-sesion {
    font-size: 14px;
    text-decoration: none;
    color: whitesmoke;
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.navbar-toggler {
    margin-bottom: 10px;
}

.dividor {
    background-color: #FD611A !important;
    border-radius: 10px;
    margin: 0;
    padding: 22px;
    font-family: Overpass, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar-nav {
    display: contents;
    --bs-nav-link-hover-color: white;
}

.bg-body-tertiary {
    background-color: #EEEEEE !important;
}

.product {
    margin: 15px 15px 0px 15px;
    padding: 0px 15px 0px 15px;
}

.container-one {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.container-flexone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.new-In {
    text-align: center;
    margin: 4rem 0rem 1.5rem 0rem;
    font-family:Fira code, sans-serif;
    font-weight: 550;
}

.new-In:hover {
    color: #FD611A;
    transition: color .30s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    cursor: default;
}

main img {
    width: 150px;
    height: 158px;
    margin-left: 0;
    align-items: center;
    justify-items: center;
    border-radius: 15px;
}

.ns {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(255, 132, 31, 0.137);;
    border-radius: 25px;
    background-color: #FFFFFF;
    width: 15rem;
    padding: 10px;
}

.contenedor-imagen {
    position: relative;
    width: 150px;
    height: 158px;
}

.imagen, .imagen-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.imagen-hover {
    opacity: 0;
}

.contenedor-imagen:hover .imagen {
    opacity: 0;
}

.contenedor-imagen:hover .imagen-hover {
    opacity: 1;
}

.ns h2 {
    text-align: center;
    margin: 0;
    padding-top: 5px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.btn:hover {
    color: white;
    background-color: #fd611a;
}

.btn-outline-primary {
    font-family: Raleway, sans-serif;
    font-size: 17px;
    color: black;
    border: 2px solid;
    border-color:  rgba(252, 97, 25, .38);
    --bs-btn-hover-border-color: rgba(0, 0, 0, .12);
    --bs-btn-active-bg: #DF5616;
    --bs-btn-active-border-color: black;
    --bs-btn-active-color: white;
}

.btn-outline-primary:active {
    border:1px solid;
}

.ns h3 {
    text-align: center;
    margin: 7px;
    background: #fd611a;
    border-radius: 5px;
    display: block;
    width: 4rem;
    padding: 4px 0px;
    font-size: 14px;
}

.container-two {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.container-flextwo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    background-color: #FD611A;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navegacion {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #FEFEF0;
    padding: 7px 7px 7px 7px;
    border: 3px solid #222;
    border-radius: 5px;
}

.navegacion:hover {
    background-color: whitesmoke;
    color: #FD611A;
}

.footer p {
    margin: 0;
}

.lista-No-Ordenada {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 1.2rem 0.5rem;
}

.copyright {
    font-family: "Viga", sans-serif;
}

/** Aca va login pa no confundirse pa**/

.container-Login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.container-form {
    display: flex;
    flex-direction: column;
}

.container-form div{
    display: flex;
    flex-direction: column;
}

.container-Login h1 {
    margin-left: 7rem;
    padding-top: 2rem;
    font-family: Varela Round, sans-serif ;
    font-size: xx-large;
    font-weight: 600;
}

.container-form a {
    display: inline;
    color: black;
    text-decoration: underline;
}

.container-form a:hover {
    color: #DF5616;
}

.leftwo {
    margin-left: 3rem;
    padding: 1rem 0rem 10rem 4rem;
}

.label {
    margin-left: 5px;
    margin-top: 5px;
    font-family: overpass, sans-serif;
}

.input {
    height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 17px;
    border: 2px solid rgba(0, 0, 0, .12);
    width: 30rem;
}

.inicio-Sesion {
    justify-items: center;
    height: 2.5rem;
    color: #fd611a;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    border-color: rgba(0, 0, 0, .12);
    background-color: white;
    border-radius: 20px;
    width: 30rem;
}

.inlinee {
    text-align: center;
    margin-top: 15px;
}

/* Aca va register */

.container-Register {
    display: flex;
    flex-flow: column wrap;
}

.container-Register h1{
    margin-left: 7rem;
    padding-top: 2rem;
    font-family: Varela Round, sans-serif ;
    font-size: xx-large;
}

.Input {
    height: 2.5rem;
    margin-top: 0.5rem;
    width: 30rem;
}



/** Aca va preguntas frecuentes **/

.Orange {
    color: #FD611A;
}

Main h1 {
    color: black;
    margin-left: 25px;
    margin-top: 6rem;
    margin-bottom: 4rem;
    font-family: Varela Round,Arial ;
}

.accordion-body{
    font-family: Montserrat, sans-serif ;
    font: 400 14px;
}

.margin {
    margin: 1rem 0rem 2.4rem 4rem;
    width: 62rem;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.box {
    box-sizing: border-box;
}

/** Aca va contacto **/

.atencionAlCliente {
    text-align: center;
    margin: 25rem 0px 25rem 0px;
    color: #FEFEF0;
}

.atencionAlCliente a {
    text-decoration: underline black;
}

.atencionAlCliente h1:hover {
    color: #FD611A;
    text-decoration: underline;
    transition: color .45s ease-in-out, background-color .20s ease-in-out, border-color .30s ease-in-out;

}

.iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.iconos h2 {
    color: black;
}

.iconos ion-icon {
    width: 50px;
    height: 80px;
    color: #222;
    margin: 0rem 0.1rem 1rem 1.5rem;
}

.iconos div {
    display: flex;
    align-items: center;
}

@media(max-width:575px) {
    main {
        background: no-repeat url(../assets/background-mobile.svg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }

    .contenedor {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
    }

    .busqueda {
        margin: 1.5rem 0rem 1.5rem 0rem;
    }

    .dividor {
        display: block;
    }

    .position {
        position: sticky;
        top: -6.8rem;
    }

    .position1 {
        position: sticky;
        top: 11rem;
    }

    .product {
        margin: 10px 18px 10px 18px;
        padding: 10px 0px 10px 0px;
    }

    .ns {
        margin: 1.5rem 0rem;
    }

    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .copyright {
        display: flex;
        font-size: 10px;
        font-weight: 100;
    }
    
    .navegacion {
        display: flex;
        font-size: small;
    }
    
    /* aca va preguntas frecuentes */
    .margin {
        margin: 0rem 0rem 3rem 3rem;
        width: 80% !important;
        background-color: #FFFFFF ;
        color: black;
    }

    /* aca va login*/
    .container-Login {
        align-content: center;
    }

    .container-Login h1 {
        margin-left: 0.5rem;
        align-items: flex-start;
    }
    .leftwo {
        margin-left: 0rem ;
        padding: 0px 0px 50px 0px;
        align-items: center;
    }

    .leftwo div {
        align-items: center;
    }

    .input {
        width: 24rem;
    }

    .inicio-Sesion {
        width: 80%;
    }
    /* aca va contacto */

    .atencionAlCliente a h1 {
        font-size: 1.4rem;
        margin-left: 0px;
    }

    .iconos {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}