$shadowproductos: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
$transicionfiltros:color .30s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
$primary-color: #FD611A;
$background-color: #EEEEEE;
$white: #FFFFFF;
$black: #000000;
$font-family-fira-code: "Fira Code", monospace;
$font-family-roboto: "Roboto", sans-serif;
$font-family-raleway: "Raleway", sans-serif;
$font-family-overpass: "Overpass", sans-serif;
$font-family-varela-round: "Varela Round", sans-serif;
$font-family-montserrat: "Montserrat", sans-serif;
$font-family-viga: "Viga", sans-serif;